

<div class="">
  <div class="">
    <div class="">
      <%# <%= image_tag @result.info_id %> %>

    </div>
  </div>
  <div class="">
    <div>
      <img src="assets/images/Brussels.jpg" alt="">
    </div>
    <div class="">
      <h3> <%= @result.info_id %></h3>
        <%# <p> <%= @result.info.description %></p> %>
        <p>O Canil recomendado é o: <%# <%=@result.info.kennel_name%></p>
        <p>Contato do canil: <%# <%=@result.info.kennel_owner%></p>
    </div>
  </div>
</div>
