<div class="container">
<h1>Raça</h1>
  photo: <%=@result.info.photo_url%>
  <div>
    <div class="fw-bold">name:</div>
     <%=@result.info.dog_name%>
    <div>
      <div class="fw-bold">description:</div>
      <%=@result.info.dog_description%>
    </div>
  </div>
  <div>
    <div class="fw-bold">kannel:</div>
   <%=@result.info.kennel_name%>
    <div>
      <div class="fw-bold">kennel owner:</div>
      <%=@result.info.kennel_owner%>
      </div>
  </div>
</div>
