

<%= render "shared/navbar" %>


<%# /////////////////////////////////////////////////////////////////////////////// %>

<section class="content">
  <div class="container col-xxl-8 px-4 py-5 main-section">
      <div class="container-fluid">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <%= image_tag "image03.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
            </div>
            <div class="col-lg-6">
              <h2 class="display-5 fw-bold 1h-1 mb-3">MELHOR RAÇA</h2>
              <p class="lead">Quer saiba quais as raças de cães que mais combina com seu estilo de vida, estamos aqui para o ajudar a perceber qual a raça de cão mais adequada para sua família!</p>

            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 second-main-section">
        <div class="container-fluid">
          <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <%= image_tag "image04.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
            </div>
            <div class="col-lg-6">
              <h2 class="display-5 fw-bold 1h-1 mb-3">Múltiplas raças</h2>
              <p class="lead">Sabemos que a relação entre um animal de estimação e o seu dono pode variar muito. Por isso vamos mostrar-lhe as raças de cães que mais de adequam às suas respostas. Esperamos que esta ferramenta lhe permita tomar uma decisão mais informada!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 pt-5 text-center last-main-section">
        <h2 class="display-4 fw-bold">Nosso quiz</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
           Menos perguntas, mais precisão.
           Quanto mais em comum tiver com o seu cão, maior a probabilidade de partilhem uma vida feliz e completa juntos.
          </p>
          <div class="d-grip d-md-flex justify-content-md-center">
            <form action=<%="home/create_quiz"%> method="post"> <button type="submit" class="btn btn-lg px-4 me-md-2 start-now-btn">Start Quiz</button>
          </div>
        </div>
        <div class="d-block mx-auto">
          <div class="container px-5">
            <%# <%= image_tag "image06.png", alt: "dogs", width: 700, height: 500, loading: "lazy", class: "img-fluid" %>
          </div>
        </div>
      </div>
</section>

<footer>
  <div class="container p-4">
    <div class="row">
      <div class="col-4 col-lg-3 col-md-6">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Bianca Moura</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
          </li>
          <li>
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Davi Prado</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
          </li>
          <li>
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Felipe Zica</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
          </li>
          <li class="mb-1">
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
          </li>
          <li>
            <a href="#" target="blank" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Renan Martins</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="https://github.com/nanmartins" target="blank" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
          </li>
          <li class="mb-1">
            <a href="https://www.linkedin.com/in/renan-martins-a411a2105/" target="blank" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
          </li>
          <li class="mb-1">
            <a href="https://www.facebook.com/nanmartins13/" target="blank" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/nann_martins/" target="blank" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
