<div id="scroll-animate">
	<div id="scroll-animate-main">
		<div class="wrapper-parallax">
			<header>
        <span class="fw-bold mb-3 " id="typed-effect02" style="font-size: 60px;">
        </span>
      	<%# <%= image_tag "header.jpg" class: "header-img" %>
			</header>

			<section class="content">
        <div class="container col-xxl-8 px-4 py-5 main-section">
            <div class="container-fluid">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <%= image_tag "image03.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
                  </div>
                  <div class="col-lg-6">
                    <h2 class="display-5 fw-bold 1h-1 mb-3">Lorem Ipsum</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="d-grip d-md-flex justify-content-md-start">
                      <button type="button" class="btn btn-lg px-4 me-md-2 start-now-btn">Start Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%# SECTION DIVISOR %>
            <%# <div class="container col-xxl-8 px-4 py-5 divisor-banner">
              <div class="container reveal fade-bottom">
                <%= image_tag "teste03.png", alt: "paw trail", class: "divisor-img" %>
              <%# </div>
            </div> %>
            <%# SECTION DIVISOR  %>

            <div class="container col-xxl-8 px-4 py-5 second-main-section">
              <div class="container-fluid">
                <div class="row flex-lg-row align-items-center g-5 py-5">
                  <div class="col-10 col-sm-8 col-lg-6">
                    <%= image_tag "image04.png", alt: "dog", width: 700, height: 500, class: "d-block mx-lg-auto img-fluid", loading: "lazy" %>
                  </div>
                  <div class="col-lg-6">
                    <h2 class="display-5 fw-bold 1h-1 mb-3">Lorem</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="px-4 pt-5 my-5 text-center">
              <h4 class="display-4 fw-bold">Lorem ispum</h4>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="d-block mx-auto mb-4">
                <div class="container px-5">
                  <%= image_tag "image05.png", alt: "family", width: 700, height: 500, loading: "lazy", class: "img-fluid mb-4" %>
                </div>
              </div>
            </div>
			</section>


		  <footer>
        <div class="container my-5">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Bianca Moura</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
                  </li>
                  <li>
                    <a href="#" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Davi Prado</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
                  </li>
                  <li>
                    <a href="#" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Felipe Zica</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="#" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
                  </li>
                  <li>
                    <a href="#" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #50CB93;">_Renan Martins</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="https://github.com/nanmartins" style="color: #50CB93;"><i class="fab fa-github">&nbsp;&nbsp;Github</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="https://www.linkedin.com/in/renan-martins-a411a2105/" style="color: #50CB93;"><i class="fab fa-linkedin">&nbsp;&nbsp;Linkedin</i></a>
                  </li>
                  <li class="mb-1">
                    <a href="https://www.facebook.com/nanmartins13/" style="color: #50CB93;"><i class="fab fa-facebook">&nbsp;&nbsp;Facebook</i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/nann_martins/" style="color: #50CB93;"><i class="fab fa-instagram">&nbsp;&nbsp;Instagram</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0);">
            Made with <i class="fas fa-heart"></i> at Le Wagon © 2022 Copyright
          </div>
        </div>
			</footer>

		</div>
	</div>
</div>
